{% extends "base/base.html" %}
{% load staticfiles %}

{% block head_css %}
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  	<link rel="stylesheet" href="{% static 'css/customize.css' %}">
    
{% endblock %}

{% block container %}
    <!-- Header -->
    <div class="intro-header">
      <div class="intro-cover">
        <div class="container">
           <div class="row">
              <div class="col-lg-12">
                <div class="intro-message">
                  <h1>假花馆</h1>
                  <p>它们好似孤独者，它们不像由于某种弱点而遁世的隐士，而像一些伟大而落落寡合的人物。</p>   
                  <a href="#" class="btn white-button page-scroll">寻找作品</a>
                  <a href="{% url 'historyList'%}" class="btn white-button page-scroll">寻找历史</a>
                </div>
              </div>
            </div>
        </div>
        <!-- /.container -->
      </div>
    </div>
    <!-- /.intro-header -->
{% endblock %}

