{% extends "base/base.html" %}
{% load staticfiles %}

{% block head_css %}
	 <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  	<link rel="stylesheet" href="{% static 'css/customize.css' %}">
{% endblock %}

{% block container %}
    <!-- Header -->
<div class="main-container">
   <div class="container">

      <div class="blog-header">
        <h2 class="blog-title">{{particularPeriod.name}}</h2>
        <!--<p class="lead blog-description">{{particularPeriod.summary}}</p>-->
      </div>

      <div class="row">
        <div class="col-sm-8 blog-main">
          <div class="blog-post">
            <h3 class="blog-post-title">概述——{{particularPeriod.name}}</h3>
            <!--<p class="blog-post-meta">January 1, 2014 by <a href="#">Mark</a></p>-->

            <p>{{particularPeriod.summary}}</p>
            <hr>
            <h3 class="blog-post-title">年鉴——{{particularPeriod.name}}</h3>
            
            {% for event in events %}
            <a href="#collapse{{event.id}}" data-toggle="collapse" aria-expanded="false" aria-controls="collapse{{event.id}}">{{event.year}}: {{event.name}}</a>
            <br>
            <div class="collapse" id="collapse{{event.id}}" aria-expanded="false" >
              <div class="well">{{event.description}}</div>
            </div>
            {% endfor %}    
            <hr>
          </div><!-- /.blog-post -->

          <nav>
            <ul class="pager">
            {% if particularPeriod.id != begin %}
              <li><a href="{% url 'particularPeriod' begin %}">Previous</a></li>
            {% endif %}
            {% if particularPeriod.id != end %}
              <li><a href="{% url 'particularPeriod' end %}">Next</a></li>
            {% endif %}
            </ul>
          </nav>

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module">
            <h4>其他年代</h4>
            <ol class="list-unstyled">
            {% for period in periods %}
              <li><a href="{% url 'particularPeriod' period.id %}">{{period.name}}</a></li>
            {% endfor %}
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->
      </div><!-- /.row -->
    </div><!-- /.container -->
</div>
{% endblock %}

{% block footer_js %}
  <script src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/collapse.js'%}"></script>
{% endblock %}