{% extends "base/base.html" %}
{% load staticfiles %}

{% block head_css %}
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  	<link rel="stylesheet" href="{% static 'css/customize.css' %}">
  	<link rel="stylesheet" href="{% static 'css/carousel.css' %}">
{% endblock %}

{% block container %}
<div class="main-container">
 <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="jumbotron">
            <h1>{{history.name}}</h1>
            <p>{{history.summary}}</p>
          </div>
          <div class="row">
          {% for period in periods %}
            <div class="col-xs-6 col-lg-4">
              <h2>{{period.name}}</h2>
              <p>{{period.summary}}</p>
              <p><a class="btn btn-default" href="{% url 'particularPeriod' period.id %}" role="button">进入 &raquo;</a></p>
            </div><!--/.col-xs-6.col-lg-4-->
          {% endfor %}

          </div><!--/row-->
        </div><!--/.col-xs-12.col-sm-9-->

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
          <div class="list-group">
          {% for period in periods %}
          {% if forloop.first %}
            <a href="{% url 'particularPeriod' period.id %}" class="list-group-item active">{{period.name}}</a>
          {% else %}
            <a href="{% url 'particularPeriod' period.id %}" class="list-group-item">{{period.name}}</a>
          {% endif %}
          {% endfor %}
          </div>
        </div><!--/.sidebar-offcanvas-->
      </div><!--/row-->
    </div>
</div>
<hr>
{% endblock %}
